# Introduction to Julia
#### Jian Tao (jtao@tamu.edu)
Topics:
1. Julia - What and Why?
2. Julia as an Advanced Calculator
3. Functions
4. Data Structures: Tuples, Arrays, Sets, and Dictionaries
5. Conditional Statements &  Loops
6. Plots with Julia
7. Online Resources

## 1. Julia - What and Why?

In [ ]:
print("Hello World!")

In [ ]:
versioninfo()

In [ ]:
VERSION

In [ ]:
sqrt(2) #\sqrt <TAB>

In [ ]:
for i in 1:10 println(i) end   #\in <TAB>

## 2. Julia as an Advanced Calculator

### Arithmetic Operators

In [ ]:
x=1

In [ ]:
x+3

In [ ]:
x=[i for i ∈ 1:10]

In [ ]:
y=[i for i ∈ range(10, step=-1, length=10)]

In [ ]:
x.*x

In [ ]:
x.÷3.0

In [ ]:
2\4

In [ ]:
x.\2

### Logical Operators

In [ ]:
true ⊻ false #\xor <TAB>

In [ ]:
0 .≤ x .≤ y  #\le <TAB>

### NaN (Not A Number) and Inf (Infinity)

In [ ]:
NaN == NaN

In [ ]:
isnan(1/0)

In [ ]:
a = NaN

### Variables

In [ ]:
b = true; typeof(b)

In [ ]:
varinfo()

In [ ]:
x = "Hi"; "He" < x < "Ht"

In [ ]:
y = 10

In [ ]:
z = complex(1, y)

In [ ]:
sqrt(-1)     # what do you expect?

In [ ]:
b = nothing

In [ ]:
show(b)      # try println(b)

### Naming Rules for Variables

In [ ]:
4c = 12

In [ ]:
c_4 = 12

In [ ]:
δ = 2          #\delta <TAB>

In [ ]:
print("The value of x is:"); print(x)

In [ ]:
println("The value of x is:"); print(x)

### Basic Syntax for Statements
The statements could be freely arranged with an optional ';' if a new line is used to separate statements.

In [ ]:
z = begin
           x = 1
           y = 2
           x + y
    end

In [ ]:
z = (x = 1; y = 2; x + y)

In [ ]:
begin x = 1; y = 2; x + y end

In [ ]:
x = 1 
    y = 2;
        x + y

### Exercise
Given a=4 and b=17.2, evaluate the expressions in the slides.

In [ ]:
a=4; b=17.2;

### Data Types - Integer

In [ ]:
x = typemax(Int64)

In [ ]:
x+1

In [ ]:
x+100

In [ ]:
typemin(Int64)

In [ ]:
x = big(typemax(Int64))^1000

In [ ]:
typeof(x)

### Data Types - Floating-point

In [ ]:
a=4/3;b=a-1;c=3*b;e=1-c

In [ ]:
a=big(4)/3;b=a-1;c=3*b;e=1-c

In [ ]:
setprecision(10000)

In [ ]:
a=big(4)/3;b=a-1;c=3*b;e=1-c

In [ ]:
precision(BigFloat)

### Data Types - Complex and Rational Numbers

In [ ]:
im*im

In [ ]:
sqrt(complex(-1))

In [ ]:
sqrt(complex(-1, 0))

In [ ]:
3/4im == 3/(4*im) == -(3/4*im)

In [ ]:
3//4im

### Data Types - Chars and Strings

In [ ]:
a = 'H'  #a is a character object

In [ ]:
b = "H"  #a is a string with length 1

In [ ]:
c = string('s') * string('d') #or c = 's'*'d'

In [ ]:
length(c)

In [ ]:
 d = c^10*"4"

In [ ]:
split(d,"s")

In [ ]:
str = "Hello, world!"

In [ ]:
c = str[1]      #c = 'H'

In [ ]:
c = str[end]    #c = '!'

In [ ]:
c = str[2:8]    #c = "ello, w"

In [ ]:
"1 + 2 = $(1 + 2)"  #"1 + 2 = 3"

In [ ]:
print("\$100 dollars!\n")

In [ ]:
"""
Hello!
$str 
"""

In [ ]:
str="Julia"

In [ ]:
occursin("lia", str)

In [ ]:
z = repeat(str, 10)

In [ ]:
firstindex(str)

In [ ]:
lastindex(str)

In [ ]:
length(str)

In [ ]:
comment = "# A Comment"

In [ ]:
occursin(r"^\s*(?:#|$)", comment) # check if comment starts with ''

### Help 
For help on a specific function or macro, type ? followed by its name, and press enter.  This only works if you know the name of the function you want help with. With ^S and ^R you can also do historical search.

In [ ]:
?cos

In [ ]:
?help

## 3. Functions

In [ ]:
function func(x,y)
  return x + y, x
end

In [ ]:
Σ(x,y) = x + y, x       #\Sigma <TAB>

In [ ]:
Σ(4,5)

In [ ]:
+(1,2);plusfunc=+

In [ ]:
plusfunc(2,3)

In [ ]:
function point(x, y, z=0)
  println("$x, $y, $z")
end

In [ ]:
point(1,2); point(1,2,3)

In [ ]:
function func(a, b, c="one"; d="two")
  println("$a, $b, $c, $d")
end

In [ ]:
varinfo()

In [ ]:
func(2,1); func( 1, 2, "three", d="four")

### Anonymous Functions

In [ ]:
x -> 2x - 1

In [ ]:
function (x)
  2x - 1
end

In [ ]:
map((x,y,z) -> x + y + z, [1,2,3], [4, 5, 6], [7, 8, 9])

### Dotted Function

In [ ]:
func(a, b) = a * b

In [ ]:
func(1, 2)

In [ ]:
func.([1,2], 3)

In [ ]:
sin.(func.([1,2],[3,4]))

## 4. Data Structures: Tuples, Arrays, Sets, and Dictionaries

### Tuples

In [ ]:
t = (1, 2, 3)

In [ ]:
t = ((1, 2), (3, 4))

In [ ]:
t[1][2]

### Arrays

In [ ]:
a = [1, 2, 3]       # column vecor

In [ ]:
b = [1 2 3]         # row vector

In [ ]:
c = [1 2 3; 4 5 6]  # 2x3 vector

In [ ]:
d = [n^2 for n in 1:5]

In [ ]:
f = zeros(2,3); g = rand(2,3)

In [ ]:
f

In [ ]:
h = ones(2,3); j = fill("A",9)

In [ ]:
k = reshape(rand(5,6),10,3)

In [ ]:
[a;a]               # hcat

In [ ]:
[a b]               # vcat

In [ ]:
a

### Array & Matrix Operations

In [ ]:
b = [1 2 3; 4 5 7; 7 8 9]

In [ ]:
b .+ 10

In [ ]:
sin.(b)

In [ ]:
b'

In [ ]:
inv(b)

In [ ]:
b * b

In [ ]:
I/b

In [ ]:
b .* b

In [ ]:
b .^2

### Sets

In [ ]:
months=Set(["Nov","Dec","Dec"])

In [ ]:
typeof(months)

In [ ]:
push!(months,"Sept")

In [ ]:
pop!(months,"Sept")

In [ ]:
in("Dec", months)

In [ ]:
m=Set(["Dec","Mar","Feb"])

In [ ]:
union(m,months)

In [ ]:
intersect(m,months)

In [ ]:
setdiff(m,months)

### Dictionaries

In [ ]:
m=Dict("Oct"=>"October", "Nov"=>"November", "Dec"=>"December")

In [ ]:
m["Oct"]

In [ ]:
get(m, "Oct", "N/A")

In [ ]:
haskey(m, "Jan")

In [ ]:
m["Jan"]="January"

In [ ]:
delete!(m, "Jan")

In [ ]:
keys(m)

In [ ]:
values(m)

In [ ]:
map(uppercase, collect(keys(m)))

## 5. Conditional Statements &  Loops

### Ternary and Boolean Expressions

In [ ]:
x=1

In [ ]:
x > 0 ? 100 : 1000

### Conditional Statements

In [ ]:
a = 8

In [ ]:
if a>10
    println("a > 10")
elseif a<10
    println("a < 10")
else
   println("a = 10")
end

In [ ]:
s = ifelse(true, "hello", "goodbye") * " world"

### Loop Control Statements - for

In [ ]:
for i in 0:1:10
    if i % 3 == 0
       continue
    end
    println(i)
end

In [ ]:
for l in "julia" 
    print(l, "-^-")
end

### Other Usage of for Loops

In [ ]:
[n for n in 1:10]

In [ ]:
[i for i in enumerate(rand(3))]

In [ ]:
sum(x for x in 1:10)

In [ ]:
for col in 1:10, row in 1:10
    @show (col, row)
    if row % 3 == 0
        break
    end
end

### Loop Control Statements - while

In [ ]:
n = 1

In [ ]:
s = 0

In [ ]:
while n <= 100
    s += n
    n += 1
end
println(s)

### Exception Handling Blocks

In [ ]:
s = "test"

In [ ]:
try
    s[1] = "p"
    catch
    println("caught an error: $e")
    println("continue with execution!")
end

In [ ]:
str1="test"

In [ ]:
str1[1]

## 6. Plots with Julia

### Plot with GR Framework

In [19]:
using Plots    # please follow the instruction to install required packages if it is necessary.

In [ ]:
plot(rand(5,5),linewidth=8, title="My Plot", size=(1024,1024))

In [ ]:
Pkg.add("Plots")